h1 {
    background-color: pink ;
    color: rgb(223, 56, 84);
}

ul li a {
    background: rgb(255, 224, 140);
    color: green;
    font-size: 20px;
}

p {
    color: gray;
}

#class{
    color: pink;
    font-size: 30px;
} 

h2 {
    background-color: rgb(216, 216, 216) ;
    color: rgb(107, 109, 4);
}